html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    padding: 2rem;
}

.car-categories-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    max-width: 45rem;
    margin: auto;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    padding: 4rem;
    gap: 2.5rem;
}

.card img {
    margin-bottom: 1rem;
    align-self: flex-start;
}

p {
    line-height: 1.7;
}

button {
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 1rem 2.5rem;
    align-self: start;
    transition: 150ms ease-in-out;
}

.sedans-card-btn:hover, .sedans-card-btn:focus {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

.suvs-card-btn:hover, .suvs-card-btn:focus {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

.luxury-card-btn:hover, .luxury-card-btn:focus {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

@media (min-width: 920px) {

    body {
        display: grid;
        place-items: center;

    }

    .car-categories-preview {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 0 auto;
        max-width: 92rem;
        margin: auto;
    }

    p {
        margin-bottom: 5rem;
    }

}