html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 2rem;
}

.car-categories-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

img {

    padding: 4rem 0rem 4rem 4rem;
}

h1 {

    padding: 0rem 0rem 4rem 4rem;
}

p {
    padding: 0rem 4rem 2.5rem 4rem;
    line-height: 1.7;
}

button {
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 1rem 2.5rem;
    margin: 0rem 0rem 4rem 4rem;
    transition: 150ms ease-in-out;
}

.sedans-card-btn:hover, .sedans-card-btn:focus {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

.suvs-card-btn:hover, .suvs-card-btn:focus {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

.luxury-card-btn:hover, .luxury-card-btn:focus {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
}

.sedans-card {
    overflow: hidden;
}

.luxury-card {
    overflow: hidden;
}

@media (min-width: 920px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: initial;
    }

    .car-categories-preview {
        flex-direction: row;
        flex: 1 0 auto;
        max-width: 920px;
    }

    p {
        padding: 0rem 4rem 8rem 4rem;
    }

    .luxury-card-btn {
        margin-bottom: 5rem;
    }

}